<section class="vh-90">
    <div class="container py-5 h-90">
      <div class="row d-flex justify-content-center align-items-center h-100 inMiddle">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 style="text-shadow: 2px 2px black;">Prem Anvesh</h3>
                <p style="text-shadow: 2px 2px black;">CHUBB</p>
                <p style="text-shadow: 2px 2px black;">Technology Intern</p>
                <i class="fa fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">premanvesh.bonthala@chubb.com</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">+918249722090</p>
                    </div>
                  </div>
                  <h6>About me</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <h6>Hi I'm Prem Anvesh. <br>
                    I am an Intern and I love Web Development❤️</h6>
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com/prem.anvesh" target="_blank"><i class="fa fa-facebook-f fa-lg me-3"></i></a>
                    <a href="https://www.linkedin.com/in/bonthala-prem-anvesh-398394206/" target="_blank"><i class="fa fa-linkedin fa-lg me-3"></i></a>
                    <a href="https://www.instagram.com/prem.anvesh/" target="_blank"><i class="fa fa-instagram fa-lg me-3"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
