<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
        <br>
        <br>
      </mat-card-header>
      <form class="example-form" [formGroup]="login" (ngSubmit)="loginListener()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email"  formControlName="email" [(ngModel)]="user.email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName="password" [(ngModel)]="user.password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="onLogin()">Log in</button>
      </form>
      <br>
     <a (click)="onClick()" style="text-decoration:underline ;" ><small>New User? Click here to Sign Up</small></a>
    </mat-card>
  </div>