<h1>DashBoard</h1>
<mat-divider></mat-divider>
<div class="card-body">
    <div class="container">
        <div class="card">
            <div class="circle">
                <h2>Expenses</h2>
            </div>
            <div class="content">
                <p>
                    <strong>Add, Update and Manage Your Expenses.<br></strong>
                    <br>An expense in accounting refers to the money spent and the costs incurred by a company in pursuing revenue. Simply put, account expenses are the costs involved in running a business, they contribute to the activities involved in generating profit.
                </p>
               <button (click)="onExpense()">Add Expenses</button>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <h2>Journals</h2>
            </div>
            <div class="content">
                <p>
                    <strong>Get Details about your Expenses.<br></strong>
                    <br> A journal is a detailed account that records all the financial transactions of a business, to be used for the future reconciling of accounts and the transfer of information to other official accounting records, such as the general ledger.
                </p>
                <button (click)="onJournals()">Show Journals</button>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <h2>Accounts</h2>
            </div>
            <div class="content">
                <p>
                    <strong>Know about the transaction details.<br></strong>
                    <br>an account refers to assets, liabilities, income, expenses, and equity, as represented by individual ledger pages, to which changes in value are chronologically recorded with debit and credit entries.
                </p>
                <button (click)="onAccounts()">Account Details</button>
            </div>
        </div>

        <div class="card">
            <div class="circle">
                <h2>Reports</h2>
            </div>
            <div class="content">
                <p>
                    <strong>Insights and Analytics of your Expenses<br></strong>
                    <br>Reports can be as brief or comprehensive as needed for custom-made reports intended for specific purposes such as profitability of a product line or sales by region. Accounting reports are equivalent financial statements.
                </p>
                <button (click)="onReports()">Reports</button>
            </div>
        </div>
    </div>
    </div>
      
