<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <br>
        <br>
      </mat-card-header>
      <form class="example-form" [formGroup]="signup">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName = "userName"  [(ngModel)]="user.userName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName = "email"  [(ngModel)]="user.email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName = "password"  [(ngModel)]="user.password">
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm Password" type="password" formControlName = "confirmPassword"  [(ngModel)]="user.confirmPassword">
            <small *ngIf="passNotSame"></small>
          </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <mat-label>Occupation...</mat-label>
            <mat-select formControlName = "occupation"  [(ngModel)]="user.occupation">
              <mat-option [value]="occ" *ngFor="let occ of Roles">{{occ}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="onRegister()">Register</button>
      </form>
    </mat-card>
  </div>