@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
mat-toolbar{
    background: #2b2b2b;
    color : white;
}
mat-toolbar h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    cursor: pointer;
}

mat-toolbar mat-icon{
    font-size: 1.9rem;
}

mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #2b2b2b;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content{
    min-height: calc(104vh - 130px);
    height: fit-content;
    margin: 16px;
    margin-left : 32px;
    border-radius: 10px;
    background: url("/assets/mainBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.menu-button mat-icon{
    margin-right: 8px;
}

mat-divider{
    margin-top: 16px;
    margin-bottom : 16px;
    background-color: rgba(255, 255, 255, 0.8);
}

.name{
    margin-top: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.occupation{
    margin-top : 2px;
    font-size : 1rem;
    color : white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
}

.avatar {
    margin-top: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }


.fill{
 flex: 1 1 auto;
}

body{
    overflow: overlay;
}

::-webkit-scrollbar{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #3e3d3d;
    border-radius: 10px;
}

::-webkit-scrollbar-corner{
    border-radius: 10px;
}

mat-sidenav ::-webkit-scrollbar{
    background: transparent;
}

mat-sidenav ::-webkit-scrollbar-thumb{
    background: #3e3d3d;
    border-radius: 10px;
}

mat-sidenav ::-webkit-scrollbar-corner{
    border-radius: 10px;
}