<h2>
    Accounts
</h2>
<div class="card">
    <div>
    </div>
    <p-table #dt [value]="expenses" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
            [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['date','expenseType','assetType','transactionType','paymentType','financialType']" id="excel-table">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <button pButton pRipple type="button" 
                    label="Export Data To Excel"
                    icon="pi pi-file-excel" 
                    class="p-button-rounded p-button-success"
                    (click)="exportToExcel()">
                </button>
                <br>
                <br>
                List Of Accounts
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'startsWith')" placeholder="Global Search" />
                </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                    <th pSortableColumn="expenseType">Expense Type <p-sortIcon field="expenses.expenseType"></p-sortIcon></th>
                    <th pSortableColumn="assetType">Asset Type <p-sortIcon field="expenses.assetType"></p-sortIcon></th>
                    <th pSortableColumn="transactionType">Transaction Type <p-sortIcon field="expenses.transactionType"></p-sortIcon></th>
                    <th pSortableColumn="paymentType">Payment Type <p-sortIcon field="expenses.paymentType"></p-sortIcon></th>
                    <th pSortableColumn="financialType">Financial Statement <p-sortIcon field="expenses.financialType"></p-sortIcon></th>
                </tr>
                <tr>
                    <th>
                        
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'expenseType', 'startsWith')" placeholder="Search by Expense Type" class="p-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'assetType', 'startsWith')" placeholder="Search by Asset Type" class="p-column-filter">
                    </th>
                    <th>
                        <p-dropdown [options]="transactionType" (onChange)="dt.filter($event.value, 'transactionType', 'equals')" styleClass="p-column-filter" placeholder="Select a Transaction Type" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                            </ng-template>
                        </p-dropdown>
                    </th>
                    
                    <th>
                        <p-dropdown [options]="paymentType" (onChange)="dt.filter($event.value, 'paymentType', 'equals')" styleClass="p-column-filter" placeholder="Select a PaymentType" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                            </ng-template>
                        </p-dropdown>
                    </th>

                    <th>
                        <p-dropdown [options]="financialType" (onChange)="dt.filter($event.value, 'financialType', 'equals')" styleClass="p-column-filter" placeholder="Select Statement" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                            </ng-template>
                        </p-dropdown>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-expense id>
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">Date</span>
                        {{expense.date}}
                    </td>

                    <td>
                        <span class="p-column-title">Expense Type</span>
                        {{expense.expenseType}}
                    </td>
                    <td>
                        <span class="p-column-title">Asset Type</span>
                        {{expense.assetType}}
                    </td>
                    <td>
                        <span class="p-column-title">Transaction Type</span>
                        {{expense.transactionType}}
                    </td>

                    <td>
                        <span class="p-column-title">Payment Type</span>
                        {{expense.paymentType}}
                    </td>
                    <td>
                        <span class="p-column-title">Financial Statement</span>
                        {{expense.financialType}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Accounts found.</td>
                </tr>
            </ng-template>
        </p-table>
</div>