<div class="container">
    <div class="center">
        <h1>ReliaBooks</h1>
        <p>
            ReliaBooks helps you to record all your transactions such as Electricity, Rent, Supplies, Salaries , Expenses, Taxes etc. in an extremely simple manner.
        </p>
        <button class="btn btn-secondary login" (click)="onLogin()">
            <i  class="fa fa-sign-in" aria-hidden="true">
                Log In
            </i>
        </button>
        <button class="btn btn-light register" (click)="onSignUp()"> 
            <i class="fa fa-plus-square">
                Register
            </i>
        </button>
        <br>
    </div>  
</div>
<img src="../../assets/financeBG.png" alt="background">