mat-button-toggle{
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5em;
    border-radius: 2%;
}
.container{
    padding-top: 30px;
    text-align: center;
}

.addButton{
    left: 0;
    margin-left: 30%;
}

h2{
    font-size: 3rem;
    padding : 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 5px 4px grey;
}